

/* Overall Styles */
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
background-color: #f5f5f5;
border-radius: 10px;
/* Rounded corners for the header container */
}

/* Header Styles */
.header-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
background-color: hsl(158, 71%, 28%);
color: #fff;
border-radius: 10px;
/* Rounded corners for the header container */
}

.header-left {
display: flex;
align-items: center;
}

.header-icon {
width: 50px;
height: 50px;
margin-right: 10px;
}

.store-name h1 {
font-family: 'Righteous', cursive;
font-size: 36px;
margin: 0;
}

/* Car Details Styles */
.car-details {
padding: 20px;
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
margin: 20px;
}

.car-details h3 {
margin-top: 0;
}

.car-details img {
max-width: 100%;
height: auto;
border-radius: 4px;
}

/* Form Styles */
#rentalForm {
padding: 20px;
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
margin: 20px;
}

#rentalForm label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

#rentalForm input,
#rentalForm select {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-bottom: 10px;
}

#quantityContainer {
display: flex;
align-items: center;
margin-bottom: 10px;
}

#quantityContainer button {
padding: 5px 10px;
background-color: #333;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

#quantityDisplay {
margin: 0 10px;
font-size: 16px;
}

#rentalForm button[type="button"] {
padding: 8px 16px;
background-color: #333;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
margin-right: 10px;
}

.error {
color: red;
font-size: 14px;
margin-bottom: 10px;
}

.back-button {
background-color: #4CAF50;
/* Green */
border: none;
color: white;
padding: 10px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.3s ease;
}

.back-button
{
background-color: #3e8e41;
/* Dark Green */
}